* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.App .search {
  text-align: center;
  padding: 1rem;
}

.App input {
  padding: 1rem 1rem;
  min-width: 20rem;
  font-size: 1.2rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

::placeholder {
  color: #fff;
}

.App::before {
  content: "";
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 45, 191, 1) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .top {
  width: 100%;
  margin: 2rem auto;
  padding: 2rem auto;
}

.App .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 580px) {
  .App .bottom {
    font-size: 0.5rem;
    flex-direction: column;
    text-align: left;
  }
}
